.iconContainer__8fa9c, .icon_f50f05 {
    width: 24px;
    height: 24px;
  }
  
  .searchBar_e0c60b {
    width: 24px;
    height: 24px;
    padding: 1;
    background: none;
  }

  .focused_ddee54 .searchBar_e0c60b, .open_d3ab4e .searchBar_e0c60b, .searchBar_e0c60b:hover {
    width: 150px;
    height: 25px;
    background-color: var(--background-tertiary);
  }
